files/ITRS/*
neueda/files/ITRS/trade-app-0.1.0.jar
neueda/files/itrs/*.jar
files/itrs/*.jar
files/lws/*
ibmucd/*.zip
tmpfiles
puppetmaster
files/TeamCity*
files/apache-maven*
**/Belfast2017-Peter-uDeploy.tgz
**/TC-Citi-2018.tgz
neueda/files/ELK/*
neueda/files/maven-m2.zip
neueda/files/eclipse/pmd-eclipse-4.0.14.v20170528-1456.zip
neueda/files/oracle/*
neueda/files/ITRS/mysql-connector-java*
neueda/files/ITRS/pol-ITRS.tgz
neueda/files/TeamCity*
neueda/files/uDeploy/*.zip
neueda/files/uDeploy/*.tgz
neueda/files/home/*
neueda/files/TCAgent/*
neueda/files/ibm-license
neueda/files/**/*.zip
**/*.swp
**/Gemfile.lock
kubernetes/token
**/*.log
**/*.pdf
**/*.tgz
**/*.tar.gz
**/*.tar
ibmucd/IBM_URBANCODE_DEPLOY_6.2.5_MP_ML_.zip
**/kubectl
**/rke
